<ion-header>

  <ion-navbar color='dark'>
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAgregarProductoPage()">
        <ion-icon name='add'></ion-icon>
      </button>
      <button ion-button icon-only (click)="navigateToEditProductoPage()">
          <ion-icon name='create'></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="alert alert-warning m-2" *ngIf="!empty()">
    <h5 class="text-center text-warning">Ingrese productos para empezar</h5>
  </div>
  <ion-list *ngIf="empty()">
    <ion-item *ngFor="let product of productList">
      <ion-icon name = "cart" item-start></ion-icon>
      <h3>Nombre: {{product.name}}</h3>
      <h2>Precio: {{product.price}}</h2>
      <h2>Categoria: {{ product.category }}</h2>
      <h2>Localización: {{ product.location }}</h2>
    </ion-item>
  </ion-list>

</ion-content>
