<ion-header>

  <ion-navbar color='light'>
    <ion-title>Compañias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-horizontal text-center>
  <ion-list *ngFor="let us of user">
    <ion-item no-lines *ngIf="us.roles == 'client'" (click)=productsByCompany(us.$key)>
      <ion-icon name = "cart" item-start></ion-icon>
      <h2>{{ us.name ? us.name : 'No tiene nombre' }}</h2>
    </ion-item>
  </ion-list>
  
  <ion-item *ngIf="isOn" no-lines>
      <ion-label>
        Productos:
      </ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Ok" (ionChange)="onChange()" (ionCancel)="onCancel()">
        <ion-option *ngFor="let product of productList; let i = index" selected="false" (ionSelect)="addOrder(product.name, product.price)">
          <ion-icon name = "cart" item-start></ion-icon>
          <h3>{{product.name}} |</h3>
          <h2>{{product.price}} Bs.</h2>
        </ion-option>
      </ion-select>
    </ion-item>

</ion-content>
