<ion-header>

  <ion-navbar>
    <ion-title>Pedidos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor='let order of ordersList; let i = index; let last = last'>
      <div *ngIf='!alreadyDelivered(i)'>
          <ion-item-divider color="light" text-center text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
              Pedido
              <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </ion-item-divider>
              <div *ngIf="isGroupShown(i)">
                <p ion-text color='dark'>Producto: {{ !last? order[2].name : order[2].name }}</p>
                <p ion-text color='dark'>Precio: {{ !last? order[2].price +'Bs.' : order[2].price}}</p>
                <p ion-text color='dark'>Cantidad: {{ !last? order[2].quantity + ' u.' : order[2].quantity}}</p>
                <!-- <p ion-text color='dark'>Nota: {{ !last? order[1].note : order[1].note +'   | | '+ order[2].note}}</p> -->
                <p ion-text color='dark'>Total: {{ !last ? order[3] +'Bs.': order[3] +'Bs.' }}</p>
                <div class="row">
                  <div class="col">
                    <button ion-button round outline padding-horizontal color='secondary' (click)='orderDelivered(order.$key)'>Entregado</button>
                  </div>
                  <div class="col">
                    <button ion-button round outline padding-horizontal (click)='orderInComing(order.$key)'>En Camino</button>
                  </div>
                </div>
              </div>
      </div>
    </ion-item>
  </ion-list>  
</ion-content>
