page-notifications {
    .item .notification-inway {
        padding: 15px;
        border-radius: 25px !important;
        background-color: #ffd644 !important;
        color: whitesmoke !important;
    }
    
    .item .notification-ready {
        padding: 15px;
        border-radius: 25px !important;
        background-color: green !important;
        color: white !important;
    }
    
    .item {
        margin-bottom: -40px !important;
    }
}

