page-editar-producto {

}
.toastcorrect {
    > div{ 
        background-color:green!important;
        color:white !important;
    }
}
.toastwarming {
    > div{ 
        background-color:red!important;
        color:white !important;
    }
}